name: Deploy to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Sync to S3
        run: aws s3 sync . s3://astrosync-landing-website --delete --exclude ".git/*" --exclude ".github/*"

      - name: Trigger Amplify deploy
        run: aws amplify start-job --app-id "${{ secrets.AMPLIFY_APP_ID }}" --branch-name main --job-type RELEASE
